@{
    ViewBag.Title = "Index";
}
<table id="send_dg">
    <thead>
        <tr>
            <th data-options="field:'CustomerName',width:80">发件人</th>
            <th data-options="field:'CustomerPhone',width:85">发件电话</th>
            <th data-options="field:'CustomerAddress',width:110">发件地址</th>
            <th data-options="field:'RecipientName',width:80">收件人</th>
            <th data-options="field:'RecipientPhone',width:85">收件电话</th>
            <th data-options="field:'RecipientAddress',width:110">收件地址</th>
            <th data-options="field:'Weight',width:80">重量</th>
            <th data-options="field:'Price',width:80">价格</th>

            <th data-options="field:'CourierNumber',width:100">快递单号</th>
            <th data-options="field:'BelongCompany.CourierName',width:100,formatter:searchSendViewModel.BelongCompanyColumnFormatter">快递公司</th>
            <th data-options="field:'CreatedTime',width:130,formatter:com.DateTimeFormatter">收件时间</th>
            <th data-options="field:'t',width:80 ,formatter:searchSendViewModel.tColumnFormatter">状态</th>



        </tr>
    </thead>
</table>
<div id="send_tb">
    <a href="#" id="send_tb_add" class="easyui-linkbutton" data-options="plain:true">录入</a>
    <a href="#" id="send_tb_edit" class="easyui-linkbutton" data-options="plain:true">修改</a>
    <a href="#" id="send_tb_delete" class="easyui-linkbutton" data-options="plain:true">删除</a>
    <a href="#" id="send_tb_sendout" class="easyui-linkbutton" data-options="plain:true">发件</a>
    <a href="#" id="send_tb_print" class="easyui-linkbutton" data-options="plain:true">打印凭证</a>
    <br />
    <form id="send_tb_form" method="post" style="background:#fff">
        <table>
            <tr>
                <td style="padding-left:10px;">
                    <label for="CourierNumber">快递单号:</label><input class=" easyui-textbox" type="text" style="width:110px;" name="CourierNumber" />
                </td>
                <td style="padding-left:10px;">
                    <label for="CustomerPhone">发件人电话:</label><input class=" easyui-textbox" type="text" style="width:110px;" name="CustomerPhone" />
                </td>
                <td style="padding-left:10px;">
                    <label for="BelongCompanyId">所属快递公司:</label><select style="width:110px;" name="BelongCompanyId"></select>
                </td>
                <td>
                    <label for="">收件时间:</label>
                    <input class="Wdate" type="text" name="CreatedTimeStart" style="width:85px;" onclick="WdatePicker()">
                    -
                    <input class="Wdate" type="text" name="CreatedTimeEnd" style="width:85px;" onclick="WdatePicker()">
                </td>
                <td style="padding-left:10px;">
                    <label for="State">状态:</label>
                    <select style="width:110px;" name="State">
                        <option value="0" selected="selected">全部</option>
                        <option value="1">未发出</option>
                        <option value="2">已发出</option>
                    </select>
                </td>
                <td style="padding-left:10px;">
                    <a href="#" id="send_tb_form_search" class="easyui-linkbutton">查&nbsp;&nbsp;询</a>
                    <a href="#" id="send_tb_form_clear" class="easyui-linkbutton">清&nbsp;&nbsp;空</a>
                </td>
            </tr>
        </table>


    </form>
</div>
<div id="send_add" title="录入快递" style="width: 550px; height: 300px">
    <form id="send_form" method="post">
        <table class="TableStyle">
            <tr>
                <th>
                    <label for="CustomerName">发件人名称:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-textbox" type="text" name="CustomerName" data-options="required:true,novalidate:true" />
                </td>
                <th>
                    <label for="RecipientName">收件人名称:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-textbox" type="text" name="RecipientName" data-options="required:true,novalidate:true" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CustomerPhone">发件人电话:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-numberbox" type="text" name="CustomerPhone" data-options="required:true,validType:'length[8,12]',novalidate:true" />
                </td>
                <th>
                    <label for="RecipientPhone">收件人电话:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-numberbox" type="text" name="RecipientPhone" data-options="required:true,validType:'length[8,12]',novalidate:true" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CourierNumber">快递单号:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-textbox" type="text" name="CourierNumber" data-options="validType:'length[8,20]',novalidate:true" />
                </td>
                <th>
                    <label for="BelongCompany">快递公司:</label>
                </th>
                <td>
                    <input class="easyui-validatebox" type="text" name="BelongCompany.Id" data-options="novalidate:true" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Weight">重量:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-numberbox" type="text" name="Weight" data-options="required:true,precision:4,min:0,validType:'currency',novalidate:true" />
                </td>
                <th>
                    <label for="Price">价格:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-numberbox" type="text" name="Price" data-options="required:true,precision:2,min:0,validType:'currency',novalidate:true" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CustomerAddress">发件人地址:</label>
                </th>
                <td colspan="3">
                    <input class="easyui-validatebox easyui-textbox" type="text" name="CustomerAddress" style="width:250px;" data-options="required:true,validType:'length[1,200]',novalidate:true" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="RecipientAddress">收件人地址:</label>
                </th>
                <td colspan="3">
                    <input class="easyui-validatebox easyui-textbox" type="text" name="RecipientAddress" style="width:250px;" data-options="required:true,validType:'length[1,200]',novalidate:true" />
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="send_edit"  title="修改录入快递数据" style="width: 550px; height: 300px">
    <form id="send_edit_form" method="post">
        <input name="Id" type="hidden" />
        <table class="TableStyle">
            <tr>
                <th>
                    <label for="CustomerName">发件人名称:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-textbox" type="text" name="CustomerName" data-options="required:true,novalidate:true" />
                </td>
                <th>
                    <label for="RecipientName">收件人名称:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-textbox" type="text" name="RecipientName" data-options="required:true,novalidate:true" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CustomerPhone">发件人电话:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-numberbox" type="text" name="CustomerPhone" data-options="required:true,validType:'length[8,12]',novalidate:true" />
                </td>
                <th>
                    <label for="RecipientPhone">收件人电话:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-numberbox" type="text" name="RecipientPhone" data-options="required:true,validType:'length[8,12]',novalidate:true" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CourierNumber">快递单号:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-textbox" type="text" name="CourierNumber" data-options="validType:'length[8,20]',novalidate:true" />
                </td>
                <th>
                    <label for="BelongCompany">快递公司:</label>
                </th>
                <td>
                    <input class="easyui-validatebox" type="text" name="BelongCompany.Id" data-options="novalidate:true" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Weight">重量:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-numberbox" type="text" name="Weight" data-options="required:true,precision:4,min:0,validType:'currency',novalidate:true" />
                </td>
                <th>
                    <label for="Price">价格:</label>
                </th>
                <td>
                    <input class="easyui-validatebox easyui-numberbox" type="text" name="Price" data-options="required:true,precision:2,min:0,validType:'currency',novalidate:true" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CustomerAddress">发件人地址:</label>
                </th>
                <td colspan="3">
                    <input class="easyui-validatebox easyui-textbox" type="text" name="CustomerAddress" style="width:250px;" data-options="required:true,validType:'length[1,200]',novalidate:true" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="RecipientAddress">收件人地址:</label>
                </th>
                <td colspan="3">
                    <input class="easyui-validatebox easyui-textbox" type="text" name="RecipientAddress" style="width:250px;" data-options="required:true,validType:'length[1,200]',novalidate:true" />
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="send_sendout"  title="取件信息" style="width: 550px; height: 300px">
    <form id="send_sendout_form" method="post">
        <input name="Id" type="hidden" />
        <table class="TableStyle">
            <tr>
                <th>
                    <label for="CustomerName">发件人名称:</label>
                </th>
                <td>
                    <label id="CustomerName" />
                </td>
                <th>
                    <label for="RecipientName">收件人名称:</label>
                </th>
                <td>
                    <label id="RecipientName" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CustomerPhone">发件人电话:</label>
                </th>
                <td>
                    <label id="CustomerPhone" />
                </td>
                <th>
                    <label for="RecipientPhone">收件人电话:</label>
                </th>
                <td>
                    <label id="RecipientPhone" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CourierNumber">快递单号:</label>
                </th>
                <td>
                    <label id="CourierNumber" />
                </td>
                <th>
                    <label for="BelongCompany">快递公司:</label>
                </th>
                <td>
                    <label id="BelongCompany.CourierName" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Weight">重量:</label>
                </th>
                <td>
                    <label id="Weight" />
                </td>
                <th>
                    <label for="Price">价格:</label>
                </th>
                <td>
                    <label id="Price" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CustomerAddress">发件人地址:</label>
                </th>
                <td colspan="3">
                    <label id="CustomerAddress" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="RecipientAddress">收件人地址:</label>
                </th>
                <td colspan="3">
                    <label id="RecipientAddress" />
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="send_print"  title="打印信息预览" style="width:370px;height:400px;padding:10px;">
    <form id="send_print_form" method="post">
        <input name="Id" type="hidden" />
        <table class="TablePrintStyle">
            <tr>
                <th colspan="2" style="text-align: center;">
                    <h3>快递发件信息</h3>

                </th>
            </tr>
            <tr>
                <td colspan="2">
                    ----------------------------------------------------------
                </td>
            </tr>
            <tr>
                <th width="70">

                    <label for="name">快递单号:</label>
                </th>
                <td>
                    <label id="CourierNumber" />

                </td>
            </tr>
            <tr>
                <th>
                    <label for="BelongCompany">快递公司:</label>
                </th>
                <td>
                    <label id="BelongCompany.CourierName" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CustomerName">发件人名称:</label>
                </th>
                <td>
                    <label id="CustomerName" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CustomerPhone">发件人电话:</label>
                </th>
                <td>
                    <label id="CustomerPhone" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="CustomerAddress">发件人地址:</label>
                </th>
                <td colspan="3">
                    <label id="CustomerAddress" />
                </td>
            </tr>

            <tr>
                <th>
                    <label for="RecipientName">收件人名称:</label>
                </th>
                <td>
                    <label id="RecipientName" />
                </td>
            </tr>

            <tr>
                <th>
                    <label for="RecipientPhone">收件人电话:</label>
                </th>
                <td>
                    <label id="RecipientPhone" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="RecipientAddress">收件人地址:</label>
                </th>
                <td colspan="3">
                    <label id="RecipientAddress" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Weight">重量:</label>
                </th>
                <td>
                    <label id="Weight" />
                </td>
            </tr>
            <tr>
                <th>
                    <label for="Price">价格:</label>
                </th>
                <td>
                    <label id="Price" />
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    ----------------------------------------------------------
                </td>
            </tr>
            <tr>
                <th>
                    <label for="">客户签名:</label>
                    <br />
                    <br />
                </th>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    ----------------------------------------------------------
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <span id="time"></span>
                    <br />
                    欢迎光临XXX快递收发点
                </td>
            </tr>
        </table>
        <object id="WebBrowser" classid=CLSID:8856F961-340A-11D0-A96B-00C04FD705A2 height="0" width="0"></object>
    </form>
</div>

<script>
    $(function () {
        searchSendViewModel = {
            $datagrid: null,

            init: function () {
                $("#send_tb_form [name='BelongCompanyId']").combobox({
                    url: '@Url.Action("GetCourierCompanyList", "Receipt", new { tag = 1, area = "ReceiptManagement" })',
                    panelHeight: 100,
                    valueField: 'id',
                    textField: 'text'
                });
                $("#send_form [name='BelongCompany.Id']").combobox({
                    url: '@Url.Action("GetCourierCompanyList", "Receipt", new {  area = "ReceiptManagement" })',
                    valueField: 'id',
                    textField: 'text'
                });
                $("#send_edit_form [name='BelongCompany.Id']").combobox({
                    url: '@Url.Action("GetCourierCompanyList", "Receipt", new {  area = "ReceiptManagement" })',
                    valueField: 'id',
                    textField: 'text'
                });

                $("#send_tb_form [name='State']").combobox({ editable: true, panelHeight: 100, editable: false });
                $('.easyui-textbox').textbox();
                $('.easyui-numberbox').numberbox();
                //$.parser.parse('#send_add');
                //$.parser.parse('#send_edit');
                $("#send_add").dialog({
                    modal: true,
                    closed: true,
                    buttons: [{
                        text: '保存继续录入',
                        handler: function () {
                            searchSendViewModel.send_add();
                        }
                    }, {
                        text: '保存并关闭',
                        handler: function () {
                            searchSendViewModel.send_add(true);
                        }
                    }, {
                        text: '关闭',
                        handler: function () {
                            $('#send_add').dialog('close')
                        }
                    }]
                });
                $("#send_edit").dialog({
                    modal: true,
                    closed: true,
                    buttons: [{
                        text: '保存',
                        handler: function () {
                            searchSendViewModel.send_edit();
                        }
                    }, {
                        text: '关闭',
                        handler: function () {
                            $('#send_edit').dialog('close');
                        }
                    }]
                });
                $("#send_sendout").dialog({
                    modal: true,
                    closed: true,
                    buttons: [{
                        text: '发件',
                        handler: function () {
                            searchSendViewModel.send_sendout()
                        }
                    }, {
                        text: '关闭',
                        handler: function () {
                            $('#send_sendout').dialog('close')
                        }
                    }]
                });
                $("#send_print").dialog({
                    modal: true,
                    closed: true,
                    buttons: [{
                        text: '打印',
                        handler: function () {
                            //document.body.innerHTML = document.getElementById('send_print_form').innerHTML;
                            //window.print();
                            window.open();
                        }
                    }, {
                        text: '关闭',
                        handler: function () {
                            $('#send_print').dialog('close')
                        }
                    }]
                });
                searchSendViewModel.$datagrid = $("#send_dg").datagrid({
                    fit: true,
                    //fitColumns:true,
                    singleSelect: true,
                    toolbar: '#send_tb',
                    pagination: true,
                    pageSize: 10,
                    loader: function (param, sucess) {
                        var json = $('#send_tb_form').form('serialize');
                        cashbag.services.post('@Url.Action("List")', {
                            queryCond: {
                                PageNo: param.page,
                                PageSize: param.rows,
                                QueryDto: json
                            }
                        }, sucess);
                    }
                });

                $("#send_tb_add").click(function () {
                    $('#send_form').form('reset');
                    $('#send_add').window('open');
                    $("#send_form [name='CourierNumber']").focus();
                });
                $("#send_tb_edit").click(function () {
                    $('#send_edit_form').form('reset');
                    var row = searchSendViewModel.$datagrid.datagrid("getSelected");
                    if (!row) {
                        $.messager.alert('提示', '请选择一条数据');
                        return;
                    }
                    if (row.IsSendOut) {
                        $.messager.alert('提示', '此单已发出');
                        return;
                    }
                    cashbag.services.post('@Url.Action("GetById")', { id: row.Id }, function (data) {
                        $("#send_edit_form").form('loadData', data);
                        $('#send_edit').window('open');
                    });
                });
                $("#send_tb_sendout").click(function () {
                    $('#send_sendout_form').form('reset');
                    var row = searchSendViewModel.$datagrid.datagrid("getSelected");
                    if (!row) {
                        $.messager.alert('提示', '请选择一条数据');
                        return;
                    }
                    if (row.IsSendOut) {
                        $.messager.alert('提示', '此单已发出');
                        return;
                    }
                    cashbag.services.post('@Url.Action("GetById")', { id: row.Id }, function (data) {
                        $("#send_sendout_form").form('loadLabelData', data);
                        $('#send_sendout').window('open');
                    });

                })
                $("#send_tb_print").click(function () {
                    $('#send_print_form').form('reset');
                    var row = searchSendViewModel.$datagrid.datagrid("getSelected");
                    if (!row) {
                        $.messager.alert('提示', '请选择一条数据');
                        return;
                    }
                    cashbag.services.post('@Url.Action("GetById")', { id: row.Id }, function (data) {
                        $("#send_print_form").form('loadLabelData', data);
                        $("#time").html(com.DateTimeFormatter(new Date()))
                        $('#send_print').window('open');
                    });

                })
                $("#send_tb_delete").click(function () {
                    var row = searchSendViewModel.$datagrid.datagrid("getSelected");
                    if (!row) {
                        $.messager.alert('提示', '请选择一条数据');
                        return;
                    }
                    if (row.IsSendOut) {
                        $.messager.alert('提示', '此单已发出');
                        return;
                    }
                    $.messager.confirm('确认', '您确认想要删除记录吗？', function (r) {
                        if (r) {
                            $.messager.progress();	// 显示进度条
                            cashbag.services.post('@Url.Action("Delete")', { id: row.Id }, function (data) {
                                $.messager.progress('close');	// 如果提交成功则隐藏进度条
                                if (data == "T") {
                                    $.messager.alert('提示', '删除成功');
                                } else {
                                    $.messager.alert('提示', '删除失败');
                                }
                                searchSendViewModel.search();
                            });
                        }
                    });
                })
                $("#send_tb_form_search").click(function () {
                    searchSendViewModel.search();
                });
                $("#send_tb_form_clear").click(function () {
                    $('#send_tb_form').form('reset');
                    searchSendViewModel.search();
                });
                $('.easyui-validatebox').bind('blur', function () {
                    $(this).validatebox('enableValidation').validatebox('validate');
                });

            },
            BelongCompanyColumnFormatter: function (value, rowData, rowIndex) {
                if (rowData.BelongCompany) {
                    return rowData.BelongCompany.CourierName
                }
                return "";
            },
            tColumnFormatter: function (value, rowData, rowIndex) {
                if (rowData.IsSendOut) {
                    return "<span style='color:blue'>已发出</span>";
                }
                return "<span style='color:red'>未发出</span>";
            },
            search: function () {
                this.$datagrid.datagrid("load");
            },
            send_add: function (c) {
                $.messager.progress();	// 显示进度条
                $('#send_form').form('submit', {
                    url: '@Url.Action("Add")',
                    onSubmit: function () {
                        var isValid = $(this).form('enableValidation').form('validate');
                        if (!isValid) {
                            $.messager.progress('close');	// 如果表单是无效的则隐藏进度条
                        }
                        return isValid;
                    },
                    success: function (data) {
                        $.messager.progress('close');	// 如果提交成功则隐藏进度条
                        searchSendViewModel.search();
                        if (JSON.parse(data) == "T") {
                            $.messager.alert('提示', '添加成功');
                            $('#send_form').form('reset');
                            if (c) {
                                $('#send_add').dialog('close')
                            }
                        } else {
                            $.messager.alert('提示', '添加失败');
                        }
                    }
                });
            },
            send_edit: function () {
                $.messager.progress();	// 显示进度条
                $('#send_edit_form').form('submit', {
                    url: '@Url.Action("Edit")',
                    onSubmit: function () {
                        var isValid = $(this).form('enableValidation').form('validate');
                        if (!isValid) {
                            $.messager.progress('close');	// 如果表单是无效的则隐藏进度条
                        }
                        return isValid;
                    },
                    success: function (data) {
                        $.messager.progress('close');	// 如果提交成功则隐藏进度条
                        searchSendViewModel.search();
                        if (JSON.parse(data) == "T") {
                            $.messager.alert('提示', '修改成功');
                            $('#send_edit_form').form('reset');
                            $('#send_edit').dialog('close')
                        } else {
                            $.messager.alert('提示', '修改失败');
                        }

                    }
                });
            },
            send_sendout: function () {
                $.messager.progress();	// 显示进度条
                $('#send_sendout_form').form('submit', {
                    url: '@Url.Action("SendOut")',
                    onSubmit: function () {
                        var isValid = $(this).form('enableValidation').form('validate');
                        if (!isValid) {
                            $.messager.progress('close');	// 如果表单是无效的则隐藏进度条
                        }
                        return isValid;
                    },
                    success: function (data) {
                        $.messager.progress('close');	// 如果提交成功则隐藏进度条
                        searchSendViewModel.search();
                        if (JSON.parse(data) == "T") {
                            $.messager.alert('提示', '发件成功');
                            $('#send_sendout').dialog('close')
                        } else {
                            $.messager.alert('提示', data);
                        }

                    }
                });
            }
        }
        searchSendViewModel.init();


    })
</script>
